[TCP]
server = {{ .Env.SERVER_URL }}
port = 4239
password = {{ .Env.SERVER_PASSWORD }}

[SQL]
host = {{ .Env.DB_HOST }}
database = {{ .Env.DB_DATABASE }}
username = {{ .Env.DB_USERNAME }}
password = {{ .Env.DB_PASSWORD }}

[STRATUM]
algo = argon2d-dyn
difficulty = 2.0
max_ttf = 400000000