[TCP]
server = {{ .Env.SERVER_URL }}
port = 3252
password = {{ .Env.SERVER_PASSWORD }}

[SQL]
host = {{ .Env.DB_HOST }}
database = {{ .Env.DB_DATABASE }}
username = {{ .Env.DB_USERNAME }}
password = {{ .Env.DB_PASSWORD }}

[STRATUM]
algo = decred
difficulty = 1
max_ttf = 1000000000

