[TCP]
server = {{ .Env.SERVER_URL }}
port = 3747
password = {{ .Env.SERVER_PASSWORD }}

[SQL]
host = {{ .Env.DB_HOST }}
database = {{ .Env.DB_DATABASE }}
username = {{ .Env.DB_USERNAME }}
password = {{ .Env.DB_PASSWORD }}

[STRATUM]
algo = hmq1725
difficulty = 8
max_ttf = 50000

