[TCP]
server = {{ .Env.SERVER_URL }}
port = 4555
password = {{ .Env.SERVER_PASSWORD }}

[SQL]
host = {{ .Env.DB_HOST }}
database = {{ .Env.DB_DATABASE }}
username = {{ .Env.DB_USERNAME }}
password = {{ .Env.DB_PASSWORD }}

[STRATUM]
algo = lyra2zz
difficulty = 1
max_ttf = 40000
