[TCP]
server = {{ .Env.SERVER_URL }}
port = 4133
password = {{ .Env.SERVER_PASSWORD }}

[SQL]
host = {{ .Env.DB_HOST }}
database = {{ .Env.DB_DATABASE }}
username = {{ .Env.DB_USERNAME }}
password = {{ .Env.DB_PASSWORD }}

[STRATUM]
algo = whirlpool
difficulty = 0.02
max_ttf = 20000000

