[TCP]
server = {{ .Env.SERVER_URL }}
port = 6233
password = {{ .Env.SERVER_PASSWORD }}

[SQL]
host = {{ .Env.DB_HOST }}
database = {{ .Env.DB_DATABASE }}
username = {{ .Env.DB_USERNAME }}
password = {{ .Env.DB_PASSWORD }}

[STRATUM]
algo = yescrypt
difficulty = 2
max_ttf = 400000000

